@import url('http://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;      
    text-decoration: none;     
    list-style-type: none;   
}

:root{
    --color-logo: #00b3ef;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-bgcolor: #f5fdff;
    --color-bgcolor1: #fff7fe;
    --color-mobilenav: #f8e2c5;
    --color-btn: linear-gradient(to bottom, #00d2ef, #0093c4);
    --color-text: #1d2027;
    --color-sub-heading: #696969;
    --color-gray: #f9f9f9;
    --color-box-shadow: rgba(0, 0, 0, 0.1);
    --color-border: rgba(0,0,0,0.5);
    --transition: all 0.3s ease;
}






/* =========== utilities ============== */

.content-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    cursor: default;
    padding: 70px 10px ;
}


.heading-text{
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: var(--color-black);
    text-transform: capitalize;
}



.text{
    font-size: 26px;
    text-align: center;
    color: var(--color-black);
}



.sub-heading-text{
    font-size: 16px;
    font-weight: 900;
    color: var(--color-sub-heading);
    display: block;
    margin: 10px auto 30px;
    text-align: center;
    text-transform: capitalize;
}

.chart-heading-text{
    font-size: 26px;
    text-align: left;
    color: var(--color-black);
    font-weight: 900;
    text-transform: capitalize;
}

.chart-text{
    font-size: 20px;
    line-height: 2;
    color: var(--color-paragraph);
    text-align: left;
}

.btn{
    padding: 20px 25px;
    background-image: var(--color-btn);
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
}

.btn:hover{
    box-shadow: 0 25px 34px 0 var(--color-box-shadow);
    transition: var(--transition);
}

.chart{
    width: 100%;
    text-align: center;
}

.chart-item{
    padding: 20px;
    margin:0 20px 0 0;
    border-radius: 17px;
}

.chart-item:last-child{
    margin-right: 0;
}


.vertical-chart{
    display: inline-block;
}

.vertical-chart-item{
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 25px 34px 0 var(--color-box-shadow);
}


.overlay-image{
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
}


.rotate{
    transform: rotate(180deg);
}

/* ====================== header ======================*/

.header{
    width: 100%;
    padding: 30px 40px;
    background-color: rgba(189, 59, 59, 0);
    position: fixed;
    transition: var(--transition);
    z-index: 2;
}

/* javascript added class */
.show-box-shadow{
    box-shadow: 0 25px 34px 0 var(--color-box-shadow);
    background-color: var(--color-bgcolor);
}

.header a.logo{
    color: var(--color-logo);
    font-size: 18px;
    font-weight: 900;
    float: left; 
}


.header .navitems{
    width: auto;
    float: right;
}


.header .navitems .list .list-item{
    float: left;
    margin-right: 30px;
}

.header .navitems .list .list-item a{
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black);
    transition: var(--transition);
}

.header .navitems .list .list-item:last-child{
    margin-right: 0;
}

.header .navitems .list .list-item a:hover{
    color: var(--color-logo);
}



/* dropdown menu using javascript */

#dropdown{
    position: relative;
}

#dropdown a img{
    width: 12px;
    vertical-align: middle;
}

.dropdown-menu{
    display: none;
    position: absolute;
}

.dropdown-menu-active{
    width: auto;
    display: block;
    background-color: var(--color-bgcolor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 25px 34px 0 var(--color-box-shadow);
}

.dropdown-menu li{
    display: block;
    margin-bottom: 10px;
}

.dropdown-menu li:last-child{
    margin-bottom: 0;
}

.dropdown-menu li a{
    display: block;
}

/* ============== home-section =============== */

.home-section{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-bgcolor);
    background-image: url("./img/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-section .content-container{
    padding-top: 10%;
    padding-bottom: 0;
}

.home-section .content-container .heading-text{
    font-size: 38px;
    margin-bottom: 10px;
}

.home-section .content-container .text{
    margin-bottom: 20px;
}


.home-section .content-container .btn{
    margin: 0 auto;
    display: block;
    font-size: 16px;
    color: var(--color-white);
}


/* ============== goal-section ================= */
 
.goal-section{
    width: 100%;
    background-color: var(--color-bgcolor);
}

.goal-section .content-container{
    position: relative;
}

.goal-section .content-container .overlay-image{
    width: 100%;
}


.goal-section .content-container .content .text{
    color: var(--color-text);
    line-height: 1.58;
}


/* ============== values section =============== */

.values-section{
    background-color: var(--color-white);
}

.values-section .content-container{
    max-width: 1200px;
}

.values-section .content-container .chart{
    margin: 0 auto;
}

.values-section .content-container .chart .chart-item{
    background-color: var(--color-gray);
    width: 31%;
    display: inline-block;
    vertical-align: top;
}


.values-section .content-container .chart .chart-item .chart-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

/* =============== approach section =================== */

.approach-section{
    background-color: var(--color-bgcolor1);
}

.approach-section .content-container{
    position: relative;
}

.approach-section .content-container .overlay-image{
    width: 100%;
}


#zig-zag{
    margin-left: 30px;
    padding-top: 80px;
}

.approach-section .content-container .chart{
    position: relative;
    z-index: 1;
}

.approach-section .content-container .chart .vertical-chart{
    vertical-align: top;
    width: 42%;
}

.approach-section .content-container .chart .vertical-chart .vertical-chart-item{
    margin-bottom: 30px;
}

.approach-section .content-container .chart .vertical-chart .vertical-chart-item:last-child{
    margin-bottom: 0;
}

.approach-section .content-container .chart .vertical-chart .vertical-chart-item .chart-heading-text{
    margin-bottom: 20px;
}

.approach-section .content-container .chart .vertical-chart .vertical-chart-item .chart-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

/* ============ footer ============== */

    

.footer{
    background-color: var(--color-white);
}


    /* footer links */

.footer-links{
    text-align: center;
    padding-bottom: 40px;
}

.link-chart{
    display: inline-block;
    vertical-align: top;
    max-width: 22%;
    margin-right: 4%;
}

.link-chart:last-child{
    margin-right: 0;
}

.link-chart li{
    margin-bottom: 20px;
    text-align: left;
}

.link-chart li:last-child{
    margin-bottom: 0;
}

.link-chart li a{
    font-size: 16px;
    color: var(--color-black);
    font-weight: 600;
}


a.footer-logo{
    font-size: 18px;
    font-weight: 900;
    color: var(--color-logo);
}

a.socials{
    display: inline-block;
    width: 20px;
    margin-right: 20px;
}

a.socials:last-child{
    margin-right: 0;
}

.footer-contacts{
    font-size: 16px;
    font-weight: 500;
    opacity:0.5;
    color: var(--color-black);
    text-align: left;
}


    /* footer terms */

.footer-terms{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 40px;
    border-top: 1px solid var(--color-border);
}

.copyright{
    float: left;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
    color: var(--color-black);
    font-family: 'Source Sans Pro', sans-serif;
}

.terms-policies{
    float: right;
    font-size: 14px;
    font-weight: 600;
}

.terms-policies a{
    color: var(--color-black);
    font-family: 'Source Sans Pro', sans-serif;
}


/* ========================== media queries ==================== */
#bar-icon, #close-icon{
    display: none;
}


@media (max-width: 990px){

    /* header section */
    .header a.logo{
        font-size: 24px;
    }

    .header .navitems .list{
        padding: 20px 0 0 20px;
    }

    .header .navitems .list .list-item{
        float: none;
        margin: 0;
        margin-bottom: 10px;
    }

    .header .navitems .list .list-item a{
        font-size: 20px;
    }

    .header .navitems{
        position: absolute;
        background-color: var(--color-mobilenav);
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s;
        padding: 10px 0 0 10px;
    }

       
    #bar-icon, #close-icon{
        display: block;
        cursor: pointer;
        width: 30px;
    }

    #bar-icon{
        float: right;
    }

    /* home section  */

    .home-section .content-container{
        padding-top: 20%;
    }

    /* values section */
    .values-section .content-container .chart .chart-item{
        width: 45%;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .values-section .content-container .chart .chart-item:last-child{
        margin: 0;
    }

    .values-section .content-container .chart .chart-item:nth-child(even){
        margin-right: 0;
    }


    /* footer section */

    .link-chart{
        display: block;
        max-width: 100%;
        margin-bottom: 5%;
    }

    .link-chart:last-child{
        margin-bottom: 0;
    }

    .copyright, .terms-policies{
        float: none;
    }

}



@media (max-width: 480px){
    

    /* home section  */

    .heading-text, .home-section .content-container .heading-text{
        font-size: 30px;
    }
    .home-section .content-container{
        padding-top: 30%;
    }

    /* values section & approach section*/
    
    .values-section .content-container .chart .chart-item, .approach-section .content-container .chart .vertical-chart{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    
    .approach-section .content-container .chart .vertical-chart .vertical-chart-item{
        margin-bottom: 10px;
    }

    #zig-zag{
        padding: 0;
        margin: 0;
    }

    /* footer section */

    .link-chart{
        display: block;
        max-width: 100%;
        margin-bottom: 12%;
    }

}
